.references-section {
    background: #1c1c1c;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.references-section__container {
    padding-inline: 0;
}

.references-section__heading {
    color: #3dcfb6;
    font-size: clamp(
        1.5rem,
        1.4rem + .5vw,
        2rem
    );
    font-weight: 700;
    text-align: center;
}

.carousel__wrapper {
    position: relative;
}

.carousel__wrapper > .quotes {
    position: absolute;
    top: 0;
    height: 274px;
    width: 632px;
    left: 50%;
    transform: translate(-50%);
    z-index: 100;
    pointer-events: none;
}

.carousel__wrapper > .quotes > img {
    transform: translate(-49%, -12%);
    position: relative;
    z-index: 101;
}

.carousel__cards {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--card-gap);
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.carousel__cards::after {
    right: 0;
    background: linear-gradient(
        to left,
        #141414a6,
        #14141466,
        #14141426,
        #14141400 60%
    );
}

@media (max-width: 768px) {
    .references-section {
        padding-block: 6.25rem;
    }

    .references-section__container {
        padding-inline: 1rem;
    }
}
