.references-section {
    background: #1c1c1c;
    padding-top: 9rem;
    padding-bottom: 9rem;
}

.references-section__container {
    padding-inline: 0;
}

.references-section__heading {
    color: #3dcfb6;
    font-size: clamp(
        1.5rem,
        1.4rem + .5vw,
        2rem
    );
    font-weight: 700;
    text-align: center;
}

@media (max-width: 768px) {
    .references-section {
        padding-block: 6.25rem;
    }

    .references-section__container {
        padding-inline: 1rem;
    }
}
