.projects-section {
    background-color: var(--black);
    padding-top: 9rem;
}

.projects-section__head {
    max-width: none;
}

.projects-section__title {
    margin-top: 1.25rem;
    font-weight: 700;
    color: var(--teal);
    font-size: var(--fs-title);
}

.projects-section__copy {
    margin-top: 2.563rem;
    font-weight: 400;
    font-size: var(--fs-body);
    color: #fff;
    line-height: normal;
}

.featured-projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4.5rem;
    margin-top: 2.5rem;
    position: relative;
}

.project-list {
    width: calc(100% - 295px - 4.5rem);
    flex: 0 0 calc(100% - 295px - 4.5rem);
    min-width: 0;
}

.project-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2.5rem 2rem;
    cursor: pointer;
    transition: background-color .15s ease-in;
    background: transparent;
    color: #fff;
    text-align: left;
    border-top: 1px solid var(--teal);
}

.project-card:last-child {
    border-bottom: 1px solid var(--teal);
}

.project-card:hover {
    background-color: var(--turquoise-30);
}

.project-card__name {
    font-weight: 700;
    font-size: var(--fs-xl);
    color: #fff;
}

.project-card__techs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-weight: 400;
    font-size: 1.125rem;
    color: #fff;
}

.project-card__divider {
    width: 1px;
    height: 20px;
    background-color: var(--teal);
}

.project-card__arrow {
    display: none;
}

.project-preview {
    width: 295px;
    height: 192px;
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    pointer-events: none;
    transform: translateY(-50%);
}

.project-preview__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    border-radius: 16px;
}

.project-preview__pattern {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.project-preview.is-hidden {
    opacity: 0;
    visibility: hidden;
}

@media (max-width: 1000px) {
    .projects-section {
        padding-top: 6.25rem;
    }

    .featured-projects {
        display: block;
    }

    .project-list {
        width: 100%;
    }

    .project-preview {
        display: none;
    }

    .project-card__arrow {
        display: block;
        color: var(--teal);
        font-size: 2rem;
    }

    .project-card__techs {
        display: none;
    }
}