.skills-section {
    background-color: var(--black);
}

.skills-section .section-eyebrow {
    text-align: start;
    color: var(--teal);
    font-weight: 700;
    font-size: var(--fs-xl);
    margin-bottom: 1.25rem;
}

.skills-section__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 6rem;
}

.skills-card__title {
    font-weight: 700;
    color: var(--teal);
    font-size: var(--fs-title);
    margin-bottom: 2.5rem;
    text-align: start;
}

.skills-card__text {
    font-weight: 400;
    font-size: var(--fs-body);
    color: #fff;
    margin-bottom: 2rem;
}

.skills-card__question,
.skills-card__question span {
    font-weight: 700;
    font-size: var(--fs-xl);
}

.skills-card__question {
    color: #fff;
}

.skills-card__question span {
    color: var(--teal);
}

.skills-card__contact {
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 116px;
    row-gap: 2.5rem;
    column-gap: 4.5rem;
    justify-content: end;
    justify-items: center;
}

.skills-icons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
    flex-direction: column;
    text-align: center;
}

.skills-icons__icon {
    transition: transform .15s ease-in;
}

.skills-icons__item:hover .skills-icons__icon {
    transform: scale(1.1);
}

.skills-icons__name {
    font-size: var(--fs-body);
    font-weight: 400;
    color: #fff;
}

.skills-icons__item--future .skills-icons__name {
    transition: color .15s ease-in;
}

.skills-icons__item--future:hover .skills-icons__name {
    color: var(--teal);
}

.skills-icons__bubble {
    position: absolute;
    width: 188px;
    max-width: 1000px;
    top: -110px;
    left: -5px;
    display: none;
}

.skills-icons__item--future:hover .skills-icons__bubble {
    display: block;
}

@media (max-width: 1000px) {
    .skills-section__grid {
        display: block;
    }

    .skills-icons {
        justify-content: center;
        margin-top: 4rem;
    }
}

@media (max-width: 768px) {
    .skills-section {
        padding-top: 6.25rem;
    }

    .skills-icons {
        column-gap: 1.2rem;
    }
}