<footer [ngClass]="(currentUrl() === 'legal-notice' || currentUrl() === 'privacy-policy') ? 'bg-transparent' : 'bg-black'">
    <div class="container">
        <div class="flex-container">
            <div class="logo-footer-container">
                 <app-logo (click)="scrollToStart()" />
                <p i18n class="karla">Web Developer</p>
                <p i18n class="karla">Magdeburg Germany</p>
            </div>
            <div id="copyright_desktop" class="copyright">
                <span class="fira">&copy;</span>
                <span class="fira">Lukas Heller</span>
            </div>
            <nav>
                <ul>
                    <li><a class="karla" href="https://github.com/LukeDreadnoughtus" target="_blank">Github</a></li>
                    <li><a class="karla" href="https://www.linkedin.com/in/lukas-heller-40b577406/" target="_blank">LinkedIn</a></li>
                    <li><a class="karla" href="mailto:luke.heller@dreadnoughtus.de
">Email</a></li>
                    <li class="pointer">
  <a
    i18n
    class="karla"
    [routerLink]="['/legal-notice']"
    (click)="resetActiveHeaderLinks()"
  >
    Legal Notice
  </a>
</li>
<li class="pointer">
  <a
    i18n
    class="karla"
    [routerLink]="['/privacy-policy']"
    (click)="resetActiveHeaderLinks()"
  >
    Privacy Policy
  </a>
</li>
                </ul>
            </nav>
        </div>
        <div id="copyright_mobile">
            <span class="fira">&copy;</span>
            <span class="fira">Lukas Heller 2026</span>
        </div>
    </div>
</footer>